.home_view
  .home_header
    = render_breadcrumbs separator: ' > ',class: "breadcrumbs"
    .title
      = link_to "TRIPPING", root_path, id:"titling"
    .logout
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
      
    .user_page
      = link_to users_path do
        = fa_icon 'user', class: 'icon'
  .main_view
    .program_search
      %input#program-search-field.chat-group-form__input{:placeholder => "探したい記事のタイトルを入力", :type => "text",size:"50×30",id:"search_btn"}
      #program-result
    .genres
      - @genres.each do |genre|
        .genre
          .genre__name
            = link_to "#{genre.name}", genre_programs_path(genre.id)