.login_view
  %h1 TRIPPING
  %h2 新規登録
  .new_user
    = link_to "ログインの方はこちら", new_session_path(resource_name)
    = fa_icon 'mouse-pointer', class: 'icon'
  .forming
    = form_for(resource, as: resource_name, url: registration_path(resource_name),id: "user_signup-form") do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        %p step1 名前を入力してね！
        = f.text_field :name, autofocus: true, autocomplete: "name",class:"form_name",placeholder: "名前",id:"name"
        %br
      .field
        %p step2 メールアドレスを入力してね！
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"form_mail",placeholder: "mail",id:"e_mail"
        %br/
      .field
        %p step3 パスワードを入力してね！
        = f.password_field :password, autocomplete: "new-password",class:"form_pass",placeholder: "パスワード",id:"pass"
        %br/
      .field
        %p step4 もう一度パスワードの確認！
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"form_pass_conf",placeholder: "パスワード（確認用）", id:"pass_conf"
      %br/
      %p step5 登録するよ！
      = f.submit "登録する",class:"login_btn"
