.login_view
  %h1 TRIPPING
  %h2 新規登録
  .new_user
    = link_to "ログインの方はこちら", new_session_path(resource_name)
    = fa_icon 'mouse-pointer', class: 'icon'
  .forming
    = form_for(resource, as: resource_name, url: registration_path(resource_name),id: "user_signup-form") do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.text_field :name, autofocus: true, autocomplete: "name",class:"form_name",placeholder: "名前",id:"field"
        %br
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"form_mail",placeholder: "mail",id:"field-1"
        %br/
      .field
        = f.password_field :password, autocomplete: "new-password",class:"form_pass",placeholder: "パスワード"
        %br/
      .field
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"form_pass_conf",placeholder: "パスワード（確認用）"
      %br/
      = f.submit "登録する",class:"login_btn"
