.forming
  = form_for @program ,:url => {:action => :create}do |f|
    - if @program.errors.any?
      #error_explanation
        %h2= "#{pluralize(@program.errors.count, "error")} prohibited this program from being saved:"
        %ul
          - @program.errors.full_messages.each do |message|
            %li= message
      .field
        %p step1 投稿ジャンルを選んでね！
        = f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--", class: 'input', id:"selection"
      .field
        %p step2 投稿タイトルを書こう！
        = f.text_field :title, class: "form-title",id:"title"
      .field
        %p step3 自由に感想を書こう！
        = f.text_area :text,id:"text"
      .field
        %p step4 写真を載せるとgood!
        = f.file_field :video, class: "video_box", id: "file"
      %p step5 投稿ボタンを押して完了!
      = f.submit '投稿する', class: "action_btn"

