
.home_view
  .home_header
    .title
      = link_to "TRIPPING", root_path
  .showing
    .top__video
      = image_tag @program.video.url, class: 'image_video' if @program.video.present?
    .no_image
      = "NOIMAGE" unless @program.video.present?
    .top_title
      %P 「#{@program.title}」
    .top_text
      %p #{@program.text}
    .top_pv
      = fa_icon 'eye', class: 'icon'
      = @program.impressionist_count
    = render 'likes/like'
-# !!!
-# %html{:lang => "ja"}
-#   %head
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %meta{:charset => "UTF-8"}/
-#     %title Sample_GoogleMap
-#     %script{:src => "http://maps.google.com/maps/api/js?key=AIzaSyCgU-tSZoHVCbF7MUGiRsz79eNVfKZXRrg&language=ja"}
-#     :css
-#       html { height: 100% }
-#       body { height: 100% }
-#       #map { height: 50%; width: 50%}
-#   %body
-#     #map
-#     :javascript
-#       var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
-#       var Options = {
-#        zoom: 15,      //地図の縮尺値
-#        center: MyLatLng,    //地図の中心座標
-#        mapTypeId: 'roadmap'   //地図の種類
-#       };
-#       var map = new google.maps.Map(document.getElementById('map'), Options);
  -# \|
  -# = link_to 'Back', programs_path
