%p#notice= notice
= render_breadcrumbs separator: ' > '
%p
  %b Title:
  = @program.title
%p
  %b User:
  = @program.text

= link_to 'Edit', edit_program_path(@program)
\|
= link_to 'Back', programs_path
